html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    background-color: none;
}

$mainFont: 'Roboto', sans-serif;
$fontTitle: 'Josefin Sans', sans-serif;
$mainColor: black;
$lightColor: #FDF1F1;
$alt-color: #ff0505;

$margin-left: 100px;
$margin-top: 80px;
$margin-left-small: 80px;

$small-break: 700px;

$transparent-white: rgba(255,255,255, 0.9);

$margin-left: 120px;

body{
    box-sizing: border-box;
    color: black;
    font-family: $mainFont;
    position: relative;
    header{
        nav.featureNav{
            float: left;
            width: $margin-left;
            height: 100vh;
            z-index: 1;
            position: fixed;
            @media(max-width: $small-break){
                float: none;
                width: 100%;
                top: 0;
            }
            a.logo{
                color: white;
                background-color: $mainColor;
                height: $margin-top;
                width: $margin-left;
                line-height: $margin-top;
                font-size: 40px;
                text-align: center;
                @media(max-width: $small-break){
                    width: $margin-left-small;
                }
            }
            ul.navList{
                list-style: none;
                text-align: center;
                height: calc(100vh - 80px);
                display: flex;
                flex-direction: column;
                background-color: $transparent-white;
                @media(max-width: $small-break){
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                }
                li{
                    border: 1px dotted #c9c9c9;
                    background-color: $transparent-white;
                    height: 100%;
                    :hover{
                        color: $mainColor;
                        transition: 0.5s;
                        transform: scale(1.1);
                    }
                    @media(max-width: $small-break){
                        flex-basis: 40%;
                        height: 35%;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        p{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        a{
            width: 100px;
            display: block;
            @media(max-width: $small-break){
                width: 70px;
            }
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80px;
                @media(max-width: $small-break){
                    width: 60px;
                }
            }
        }
        .find{
            font-size: 20px;
            display: flex;
            position: relative;
            margin-left: $margin-left;
            height: $margin-top;
            background-color: white;
            @media(max-width: $small-break){
                position: fixed;
                z-index: 1;
                margin: 0 $margin-left-small;
            } 
            a.searchMovie{
                border: none;
                color: black;
                line-height: $margin-top;
                text-align: center;
                @media(max-width: $small-break){
                    display: none;
                } 
                &:hover{
                    color: $mainColor;
                }
            }
            .inputContainer{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            input{
                height: 30px;
                padding: 10px;
                font-size: 20px;
                border: 1px solid white;
                border-bottom: 1px solid lightgray;
                &:focus {
                    outline:none !important;
                    border-bottom: 1px solid black;
                }
                @media(max-width: $small-break){
                    margin-left: 20px;
                }
            }
        }
        div.dropdownIcon{
            height: $margin-top;
            width: $margin-left-small;
            font-size: 40px;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 2;
            a{
                height: 100%;
                width: 100%;
                text-align: center;
                text-justify: center;
                border: none;
                color: black;
                transition: all 0.5s;
                line-height: $margin-top;
                background-color: white;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    div.bannerContainer{
        margin-left: $margin-left;
        height: calc(100vh - 80px);
        @media(max-width: $small-break){
            margin-left: 0;
            padding-top: $margin-top;
        }
        .banner{
            height: 100%;
            background-image: url(../image/banner.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            h1{
                color: $alt-color;
                text-shadow: 1px 1px 1px black;
                font-family: $fontTitle;
                font-size: 60px;
                text-align: center;
                padding: 30px;
                @media(max-width: $small-break){
                    font-size: 50px;
                }
            }
        }
    }    
    section.movies{
        margin: 30px 20px 50px 150px;
        @media(max-width: $small-break){
            margin: 10px;
        }
        div{
            margin: 30px 0;
            h3{
                font-size: 18px;
                color:black;
                display: inline-block;
            }
            a{
                text-decoration: none;
                float: right;
                p{
                    font-size: 15px;
                    color: $alt-color;
                }
            }
        }
        p.results{
            float: right;
            color: grey;
        }
        ul.moviesList{
            clear: both;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media(max-width: $small-break){
                
            }
            li{
                flex-basis: 23%;
                margin-bottom: 20px;
                @media(max-width: $small-break){
                    flex-basis: 45%;  
                }
                a.movieAnchor{
                    text-decoration: none;
                    color: grey;
                    cursor: pointer;
                    img{
                        width: 100%;
                        transition: all 0.7s;
                        @media(min-width: $small-break){
                            &:hover{
                                box-shadow: 4px 2px 46px -10px rgba(0,0,0,0.9);
                                transform: scale(1.1, 1.1);
                            }
                        }
                        
                    }
                    figcaption{
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }
        a.load{
            border: 1px solid $alt-color;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0 auto;
            max-width: 100px;
            text-align: center;
            color: $alt-color;
            text-decoration: none;
            transition: all 0.5s;
            &:hover{
                background-color: $alt-color;
                color: white;
            }
        }
    }
    .movieModal{
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        z-index: 2;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        .movieBox{
            width: 60%;
            margin: 30px auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media (max-width: $small-break){
                margin: 0;
                width: 100%;
            }
            div.backdrop{
                background-color: black;
                grid-column: 1 / span 2;
                height: 50vh;
                position: relative;
                font-size: 20px;
                .backgroundImage{
                    width: 100%;
                    height: 50vh;
                    background-size: cover; 
                }
                .opacity{
                    position: absolute;
                    z-index: 3;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                }
                a.closeMovie{
                    color: white;
                    position: absolute;
                    z-index: 5;
                    right: 20px;
                    top: 20px;
                    &:hover{
                        color: $alt-color;
                    }
                }
                .backdropContent{
                    position: absolute;
                    z-index: 4;
                    top: 50%;
                    left: calc(50% + 20px);
                    transform: translateY(-50%);
                    @media(max-width: $small-break){
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%)
                    }
                    h3{
                        color: $alt-color;
                        font-size: 40px;
                        margin-bottom: 10px;
                        @media(max-width: $small-break){
                            font-size: 25px;
                        }
                    }
                    h4{
                        color: $alt-color;
                        font-size: 30px;
                        @media(max-width: $small-break){
                            font-size: 15px;
                        }
                    }
                }
            }
            div.boxInfo{
                background-color: white;
                padding: 20px;
                grid-column: 1 / span 2;
                .boxInfoContent{
                    margin: 20px 20px 20px calc(50% + 20px);
                    @media(max-width: $small-break){
                        margin: 10px;
                    }
                    p{
                        font-size: 14px;
                        text-align: justify;
                        text-justify: inter-word;
                        line-height: 20px;
                    }
                    h5{
                        color: $alt-color;
                        margin-top: 20px;
                    }
                }
            }
            .frontImage{
                position: absolute;
                max-width: 40%;
                left: 40px;
                top: 40px;
                z-index: 4;
                @media(max-width: $small-break){
                    display: none;
                }
            }
        }
        
    }
}
.show{
    display: block;
}
.hide{
    display: none;
}





