html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background-color: none;
}

body {
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #f5f5f5;
}
body header nav.featureNav {
  float: left;
  width: 120px;
  height: 100vh;
  z-index: 1;
  position: fixed;
}
@media (max-width: 700px) {
  body header nav.featureNav {
    float: none;
    width: 100%;
    top: 0;
    height: 60px;
  }
}
body header nav.featureNav a.logo {
  color: white;
  background-color: black;
  height: 80px;
  width: 120px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  z-index: 3;
  transition: color 0.5;
}
body header nav.featureNav a.logo:hover {
  color: #ff0505;
}
@media (max-width: 700px) {
  body header nav.featureNav a.logo {
    width: 80px;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
  }
}
body header nav.featureNav ul.navList {
  list-style: none;
  text-align: center;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 700px) {
  body header nav.featureNav ul.navList {
    height: calc(100vh - 60px);
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
  }
}
body header nav.featureNav ul.navList li {
  border: 1px dotted #c9c9c9;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
}
body header nav.featureNav ul.navList li :hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
}
@media (max-width: 700px) {
  body header nav.featureNav ul.navList li {
    flex-basis: 40%;
    height: 35%;
  }
}
body header nav.featureNav ul.navList li a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header nav.featureNav ul.navList li a p {
  margin-top: 10px;
}
body header a {
  width: 100px;
  display: block;
}
@media (max-width: 700px) {
  body header a {
    width: 70px;
  }
}
body header a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
@media (max-width: 700px) {
  body header a img {
    width: 60px;
  }
}
body header .find {
  font-size: 20px;
  display: flex;
  margin-left: 120px;
  height: 80px;
  background-color: white;
  width: 80%;
}
@media (max-width: 700px) {
  body header .find {
    position: fixed;
    top: 0;
    z-index: 1;
    margin: 0 80px;
    height: 60px;
  }
}
body header .find a.searchMovie {
  border: none;
  color: black;
  line-height: 80px;
  text-align: center;
}
@media (max-width: 700px) {
  body header .find a.searchMovie {
    display: none;
  }
}
body header .find a.searchMovie:hover {
  color: black;
}
body header .find .inputContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body header .find input {
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
  border-bottom: 1px solid lightgray;
}
body header .find input:focus {
  outline: none !important;
  border-bottom: 1px solid black;
}
@media (max-width: 700px) {
  body header .find input {
    height: 20px;
    margin-left: 20px;
  }
}
body header div.dropdownIcon {
  height: 60px;
  width: 80px;
  font-size: 35px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
body header div.dropdownIcon a {
  height: 100%;
  width: 100%;
  text-align: center;
  text-justify: center;
  border: none;
  color: black;
  transition: all 0.5s;
  line-height: 60px;
  background-color: white;
}
body header div.dropdownIcon a:hover {
  background-color: black;
  color: white;
}
body div.bannerContainer {
  margin-left: 120px;
  height: calc(100vh - 80px);
}
@media (max-width: 700px) {
  body div.bannerContainer {
    margin-left: 0;
    padding-top: 60px;
    height: calc(100vh - 60px);
  }
}
body div.bannerContainer .banner {
  height: 100%;
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body div.bannerContainer .banner h1 {
  color: #ff0505;
  text-shadow: 1px 1px 1px black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 30px;
}
@media (max-width: 700px) {
  body div.bannerContainer .banner h1 {
    font-size: 50px;
  }
}
body section.movies {
  margin: 30px 20px 50px 150px;
}
@media (max-width: 700px) {
  body section.movies {
    margin: 100px 20px;
  }
}
body section.movies div {
  margin: 30px 0;
}
body section.movies div h3 {
  font-size: 18px;
  color: black;
  display: inline-block;
}
body section.movies div a {
  text-decoration: none;
  float: right;
}
body section.movies div a p {
  font-size: 15px;
  color: #ff0505;
}
body section.movies p.results {
  float: right;
  color: grey;
}
body section.movies ul.moviesList {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body section.movies ul.moviesList li {
  flex-basis: 23%;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  body section.movies ul.moviesList li {
    flex-basis: 45%;
  }
}
body section.movies ul.moviesList li a.movieAnchor {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}
body section.movies ul.moviesList li a.movieAnchor img {
  width: 100%;
  transition: all 0.7s;
}
body section.movies ul.moviesList li a.movieAnchor img:hover {
  box-shadow: 4px 2px 46px -10px rgba(0, 0, 0, 0.9);
  transform: scale(1.1, 1.1);
}
body section.movies ul.moviesList li a.movieAnchor figcaption {
  font-size: 15px;
  text-align: center;
}
body section.movies a.load {
  border: 1px solid #ff0505;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 100px;
  text-align: center;
  color: #ff0505;
  text-decoration: none;
  transition: all 0.5s;
}
body section.movies a.load:hover {
  background-color: #ff0505;
  color: white;
}
body .movieModal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
body .movieModal .movieBox {
  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 700px) {
  body .movieModal .movieBox {
    margin: 0;
    width: 100%;
  }
}
body .movieModal .movieBox div.backdrop {
  background-color: black;
  grid-column: 1/span 2;
  height: 50vh;
  position: relative;
  font-size: 20px;
}
body .movieModal .movieBox div.backdrop .backgroundImage {
  width: 100%;
  height: 50vh;
  background-size: cover;
}
body .movieModal .movieBox div.backdrop .opacity {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
body .movieModal .movieBox div.backdrop a.closeMovie {
  color: white;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
}
body .movieModal .movieBox div.backdrop a.closeMovie:hover {
  color: #ff0505;
}
body .movieModal .movieBox div.backdrop .backdropContent {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(50% + 20px);
  transform: translateY(-50%);
}
@media (max-width: 700px) {
  body .movieModal .movieBox div.backdrop .backdropContent {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
body .movieModal .movieBox div.backdrop .backdropContent h3 {
  color: #ff0505;
  font-size: 40px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  body .movieModal .movieBox div.backdrop .backdropContent h3 {
    font-size: 30px;
  }
}
body .movieModal .movieBox div.backdrop .backdropContent h4 {
  color: white;
  font-weight: normal;
  font-size: 20px;
}
@media (max-width: 700px) {
  body .movieModal .movieBox div.backdrop .backdropContent h4 {
    font-size: 15px;
  }
}
body .movieModal .movieBox div.boxInfo {
  background-color: white;
  padding: 20px;
  grid-column: 1/span 2;
}
body .movieModal .movieBox div.boxInfo .boxInfoContent {
  margin: 20px 20px 20px calc(50% + 20px);
}
@media (max-width: 700px) {
  body .movieModal .movieBox div.boxInfo .boxInfoContent {
    margin: 10px;
  }
}
body .movieModal .movieBox div.boxInfo .boxInfoContent p {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 20px;
}
body .movieModal .movieBox div.boxInfo .boxInfoContent h5 {
  color: #ff0505;
  margin-top: 20px;
}
body .movieModal .movieBox .frontImage {
  position: absolute;
  max-width: 40%;
  left: 40px;
  top: 40px;
  z-index: 4;
}
@media (max-width: 700px) {
  body .movieModal .movieBox .frontImage {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.loader {
  z-index: 10;
  border: 5px solid white;
  border-top: 5px solid #ff0505;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
